body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: cornsilk;
}*/
.main_div{
  width: 100%;
  height: 100vh;
  background: palegoldenrod;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.center_div{
  width: 20%;
  height: 60vh;
  background-color: azure;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
h1{
  color: white;
  background: transparent;
  background-color: palevioletred;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  margin-top: -50px;
  margin-bottom: 50px;
}

button{
  min-height: 40px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 20px; 
  padding: 0 15px;
  margin-top: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.btn_div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn_green:hover{
 color: green ;
}
.btn_green{
  margin-right: 20px;
}
.btn_red{

  margin-left: 20px;
}
.btn_red:hover{
  color: red;
}
























